body {
	background-color: black;
}

h1 {
	color: red;
	text-align: center;
	font-size: 72px;
	font-family: "Arial Black", Gadget, sans-serif;
}

p.warn {
	color: white;
	text-align: center;
	font-size: 36px;
	font-style: italic;
	font-family: Verdana, Geneva, sans-serif;
}
