body {
	background-color: black;
}

h1 {
	color: red;
	text-align: center;
	font-size: 72px;
	font-family: "Arial Black", Gadget, sans-serif;
}

p.warn {
	color: white;
	text-align: center;
	font-size: 36px;
	font-style: italic;
	font-family: Verdana, Geneva, sans-serif;
}

button {
	background-color: white;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	transition-duration: 0.4s;
	

}

button:hover {
	background-color: black;
	color: white;
	border: 2px solid white;
}
